html {
background-color: #f2f4f7;
font-family: arial;
}

body {
font-family: arial;
font-size: 25px;
}

.login {
margin: -220px 0 0 750px;
}

.logo {
padding: 250px 0 0 50px;
margin: 0 850px 0 0;
}

fieldset {
border: none;
border-radius: 10px;
background-color: white;
margin: 0 1000px 0 0;
}

input {
border: solid 1.5px;
border-color: rgb(235, 235, 235);
border-radius: 5px;
width: 350px;
height: 40px;
}

a {
font-size: 15px;
}

p {
text-align: center;
margin: 0 0 0 0;
padding: 8px 0 0 0;
color: #0866ff;
}

.email {
margin: 5px 0 10px 0;
}

.inicio {
margin: 13px 0 0 0;
font-size: 20px;
border: none;
border-radius: 5px;
background-color: #0866ff;
color: white;
width: 357px;
height: 40px;
}

.cuenta {
background-color: #42b72a;
padding: 15px;
color: white;
font-family: arial;
font-size: 20px;
border: none;
border-radius: 5px;
}

.boton {
text-align: center;
padding: 0 0 0 0;
border: 0 0 0 0;
margin: 0 0 0 0;
}